# Application running port default is 3000
IMPORTER_PORT=3000

IMPORTER_DB_NAME=nuvo
IMPORTER_DB_HOST=mongodb://mongo:27017
IMPORTER_DB_USERNAME=nuvo
IMPORTER_DB_PASSWORD=nuvo

# AWS credential
IMPORTER_AWS_REGION="IMPORTER_AWS_REGION"
IMPORTER_AWS_ACCESS_KEY="IMPORTER_AWS_ACCESS_KEY"
IMPORTER_AWS_SECRET_KEY="IMPORTER_AWS_SECRET_KEY"
IMPORTER_AWS_S3_BUCKET="IMPORTER_AWS_S3_BUCKET"

# --- NOTE: OPTIONAL ---

# IMPORTER_REMEMBER_OPTION_SIGNIFICANCE=
# IMPORTER_REMEMBER_OPTION_MIN_FREQUENCY=
# IMPORTER_REMEMBER_OPTION_LIMIT=

# IMPORTER_ENABLE_XRAY=true|false

IMPORTER_LICENSE_KEY=
