{{- if .Values.importer.enabled }}
{{- $root := . }}
{{- $component := "importer" }}
{{- $mongoService := include "ingestro-importer.componentFullname" (dict "root" $root "component" "mongo") }}
{{- $defaults := dict
  "IMPORTER_DB_HOST" (printf "mongodb://%s:%d" $mongoService (int $root.Values.mongo.service.port))
  "IMPORTER_DB_NAME" "nuvo"
  "IMPORTER_PORT" (toString $root.Values.importer.service.port)
}}
{{- $overrides := default (dict) $root.Values.importer.env }}
{{- $env := deepCopy $defaults }}
{{- range $key, $value := $overrides }}
  {{- if and (ne (printf "%v" $value) "") (ne $value nil) }}
    {{- $_ := set $env $key $value }}
  {{- end }}
{{- end }}
{{- if gt (len $env) 0 }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ingestro-importer.componentFullname" (dict "root" $root "component" $component "suffix" "env") }}
  labels:
    {{- include "ingestro-importer.componentLabels" (dict "root" $root "component" $component) | nindent 4 }}
data:
{{- range $key, $value := $env }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
{{- end }}